@import url(global.css);

h1 {
    color: #fff;
}

h2, h4 {
    color: var(--text-main);
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-primary);
}

label {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-main);
}

.separator {
    color: var(--line);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.body-left, .body-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-left {
    width: 45%;
    background: linear-gradient(to right, var(--accent-primary), #FF5281);
    border-radius: 0 20px 20px 0;
    gap: 30px;
}

.body-left h3 {
    color: #fff;
}

.body-right {
    width: 55%;
}

.auth-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 462px;
}

.auth-container h2 {
    text-align: center;
}

.auth-container.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auth-container__switch-link {
    cursor: pointer;
}

.auth-container__other-logins {
    display: flex;
    justify-content: center;
    gap: 17px;
}

.auth-container__other-logins > * {
    cursor: pointer;
}